<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dgyu.pure_design.mapper.CaseReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dgyu.pure_design.entity.CaseReportEntity">
        <id column="id" property="id" />
        <result column="case_id" property="caseId" />
        <result column="mxbm" property="mxbm" />
        <result column="wsmbbh" property="wsmbbh" />
        <result column="wsslbh" property="wsslbh" />
        <result column="report_title" property="reportTitle" />
        <result column="report_text" property="reportText" />
        <result column="report_status" property="reportStatus" />
        <result column="report_path" property="reportPath" />
        <result column="template_code" property="templateCode" />
        <result column="commit_status" property="commitStatus" />
        <result column="commit_time" property="commitTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="dryjlb" property="dryjlb" />
        <result column="drejlb" property="drejlb" />
        <result column="standard_report_path" property="standardReportPath" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, case_id, mxbm, wsmbbh, wsslbh, report_title, report_text, report_status, report_path, template_code, commit_status, commit_time, create_time, update_time, dryjlb, drejlb, standard_report_path
    </sql>

</mapper>
